<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../output.css">
    <title>Document</title>
</head>
<body>
    <div>
        <select name="Chọn Bác sĩ" id="doctor_list">
            <option value="Dr. Smith">Dr. Smith</option>
            <option value="Dr. Johnson">Dr. Johnson</option>
            <option value="Dr. Williams">Dr. Williams</option>
            <option value="Dr. Brown">Dr. Brown</option>
            <option value="Dr. Jones">Dr. Jones</option>
            <option value="Dr. Garcia">Dr. Garcia</option>
            <option value="Dr. Martinez">Dr. Martinez</option>
            <option value="Dr. Rodriguez">Dr. Rodriguez</option>
            <option value="Dr. Wilson">Dr. Wilson</option>
        </select>
    </div>
    <div>
        <label for="doctorSelect">Chọn bác sĩ:</label>
        <select id="doctorSelect">
        <option value="">-- Chọn bác sĩ --</option>
    </div>
    <script src="./doctor_data.js"></script>
</body>
</html>