<nav class="bg-gray-800 p-4">
  <ul class="flex space-x-6">
    <li><a href="/" class="text-white hover:text-yellow-300">Home</a></li>
    <li><a href="/admin/users" class="text-white hover:text-yellow-300">Users Manager</a></li>
    <li><a href="/admin/payments" class="text-white hover:text-yellow-300">Payments Manager</a></li>
    <li><a href="/admin/anylyzer" class="text-white hover:text-yellow-300">Stats</a></li>
    <li><a href="/doctorSearch" class="text-white hover:text-yellow-300">Doctor Search</a></li>
    <li><a href="/faqs" class="text-white hover:text-yellow-300">FAQs</a></li>
    <li><a href="/help" class="text-white hover:text-yellow-300">Help</a></li>
    <li><a href="/admin/help-requests" class="text-white hover:text-yellow-300">Help Requests</a></li>
  </ul>
</nav>