<nav class="bg-gray-800 p-4">
  <div class="flex justify-between items-center">
    <ul class="flex space-x-6">
      <li><a href="/dashboard/patient"   class="text-white hover:text-yellow-300">Home</a></li>
      <li><a href="/profile"             class="text-white hover:text-yellow-300">Profile</a></li>
      <li><a href="/payment"             class="text-white hover:text-yellow-300">Payment</a></li>
      <li><a href="/appointment/book"    class="text-white hover:text-yellow-300">Appointments Booking</a></li>
      <li><a href="/doctorSearch"        class="text-white hover:text-yellow-300">Doctor Search</a></li>
      <li><a href="/faqs"                class="text-white hover:text-yellow-300">FAQs</a></li>
      <li><a href="/help"                class="text-white hover:text-yellow-300">Help</a></li>
      <li><a href="/announcement"        class="text-white hover:text-yellow-300">Announcement & News</a></li>
      <li><a href="/contact"             class="text-white hover:text-yellow-300">Contact</a></li>
    </ul>
    <a href="/" class="text-white hover:text-yellow-300">Logout</a>
  </div>
</nav>
